version: "3.8"

  proxy:
    image: proxy
    container_name: proxy
    build:
      context: ./backend/proxy
      dockerfile: Dockerfile
    tty: true
    networks:
      - demo
    ports:
      - "2222:2222"



  Autentikacija:
    image: autentikacija
    container_name: autentikacija
    build:
      context: ./backend/Autentikacija
      dockerfile: Dockerfile
    tty: true
    restart: on-failure
    networks:
      - demo
    ports:
      - "7879:7879"
    environment:
      DATABASE_USERNAME: root
      DATABASE_PASSWORD: root
      DATABASE_DOMAIN: mysql
      DATABASE_SCHEMA: autentikacijabaza?createDatabaseIfNotExist=true&serverTimezone=UTC
    depends_on:
      - mysql



  Profil-microservis:
    image: profilmicroservis
    container_name: profilmicroservis
    build:
      context: ./backend/Profilmicroservis
      dockerfile: Dockerfile
    tty: true
    restart: on-failure
    networks:
      - demo
    ports:
      - "7870:7870"
    environment:
      DATABASE_USERNAME: root
      DATABASE_PASSWORD: root
      DATABASE_DOMAIN: mysql
      DATABASE_SCHEMA: profilbaza?createDatabaseIfNotExist=true&serverTimezone=UTC
    depends_on:
      - mysql

  Objavemicroservis:
    image: objavemicroservis
    container_name: objavemicroservis
    build:
      context: ./backend/Objavemicroservis
      dockerfile: Dockerfile
    tty: true
    restart: on-failure
    networks:
      - demo
    ports:
      - "7876:7876"
    environment:
      DATABASE_USERNAME: root
      DATABASE_PASSWORD: root
      DATABASE_DOMAIN: mysql
      DATABASE_SCHEMA: objavabaza?createDatabaseIfNotExist=true&serverTimezone=UTC
    depends_on:
      - mysql



  mysql:
    image: mysql:8.0.19
    container_name: mysql
    restart: always
    networks:
      - demo
    volumes:
      - ./mysql:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: root

networks:
  demo:
    name: demo
    driver: bridge