@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");


.background{
    position: absolute;
    background-image: url("./components/register/background.jpg");
    background-size: cover;
    background-position: center center;
    filter: blur(3px);
    z-index: -2;
}

.margin{
    margin : 0 auto;
}

.post-pick{
    width: 400px;
    height: 400px;
}

.fa-heart{
    color : gray;
    font-size: 2.2em;
}

.fa-comment{
    color : gray;
}